<%-include("../../partials/header2")%>
    <div class="cent1">

     <!--Cart Page-->
     <div class="cartpage">
        <div class="carticon">
            <span>0</span>
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>
    <!--END OF Cart page-->


        <div class="JobsList" style="margin-top: 70px;">
            <div class="VtuTab2">
                <div class="buydata2 active" data-tab="physical">Physical items</div>
                <div class="buydata2 " data-tab="external">Digital Products</div>
            </div>

            <div class="Lists active" id="physical">
                <div class="product">
                    <div class="ItemsImg">
                        <img class="img1" src="/image/444 1.png" width="120" height="90" />
                    </div>
                    <div class="Itermname">Maxi 42" Inches FHD Smart TV (D2010).</div>
                    <div class="moredetails" onclick="openPopup()">More Details <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 10 10" fill="none">
                        <path d="M4.375 2.8125H0.9375V9.0625H7.1875V5.625M5.625 1.25H8.75M8.75 1.25V4.375M8.75 1.25L4.375 5.625" stroke="#350D73" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg></div>
                    <div class="cart" style="padding-top: 5px;">
                        <div class="itemsprice">₦ 18,000</div>
                        <div class="ByBtn">
                            <div class="BuyNow">Buy Now</div>
                        </div>
                    </div>
                    <div class="cart" style="padding-top: 5px;">
                        <div class="Resell">Resell and earn 25% commission!</div>
                        <div class="ByBtn1">
                            <div class="BuyNow1" onclick="togglePopup('resell')">Resell</div>
                        </div>
                    </div>
                    <div class="Loction">
                        <div class="Vectorl" style="padding-right: 3px; padding-bottom: 2px;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="5" height="7" viewBox="0 0 5 7" fill="none">
                                <path
                                    d="M2.45 3.325C2.21794 3.325 1.99538 3.23281 1.83128 3.06872C1.66719 2.90462 1.575 2.68206 1.575 2.45C1.575 2.21794 1.66719 1.99538 1.83128 1.83128C1.99538 1.66719 2.21794 1.575 2.45 1.575C2.68206 1.575 2.90462 1.66719 3.06872 1.83128C3.23281 1.99538 3.325 2.21794 3.325 2.45C3.325 2.56491 3.30237 2.67869 3.25839 2.78485C3.21442 2.89101 3.14997 2.98747 3.06872 3.06872C2.98747 3.14997 2.89101 3.21442 2.78485 3.25839C2.67869 3.30237 2.56491 3.325 2.45 3.325ZM2.45 0C1.80022 0 1.17705 0.258124 0.717588 0.717588C0.258124 1.17705 0 1.80022 0 2.45C0 4.2875 2.45 7 2.45 7C2.45 7 4.9 4.2875 4.9 2.45C4.9 1.80022 4.64188 1.17705 4.18241 0.717588C3.72295 0.258124 3.09978 0 2.45 0Z"
                                    fill="#350D73" fill-opacity="0.8" />
                            </svg></div>
                        <div class="SellerLocationLagos">Seller Location: Lagos, NG</div>
                    </div>
                </div>

                <div class="product">
                    <div class="ItemsImg">
                        <img class="img1" src="/image/444 1.png" width="120" height="90" />
                    </div>
                    <div class="Itermname">Maxi 42" Inches FHD Smart TV (D2010).</div>
                    <div class="moredetails" onclick="openPopup()">More Details <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 10 10" fill="none">
                        <path d="M4.375 2.8125H0.9375V9.0625H7.1875V5.625M5.625 1.25H8.75M8.75 1.25V4.375M8.75 1.25L4.375 5.625" stroke="#350D73" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg></div>
                    <div class="cart" style="padding-top: 5px;">
                        <div class="itemsprice">₦ 18,000</div>
                        <div class="ByBtn">
                            <div class="BuyNow">Buy Now</div>
                        </div>
                    </div>
                    <div class="cart" style="padding-top: 5px;">
                        <div class="Resell">Resell and earn 25% commission!</div>
                        <div class="ByBtn1">
                            <div class="BuyNow1" onclick="togglePopup('resell')">Resell</div>
                        </div>
                    </div>
                    <div class="Loction">
                        <div class="Vectorl" style="padding-right: 3px; padding-bottom: 2px;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="5" height="7" viewBox="0 0 5 7" fill="none">
                                <path
                                    d="M2.45 3.325C2.21794 3.325 1.99538 3.23281 1.83128 3.06872C1.66719 2.90462 1.575 2.68206 1.575 2.45C1.575 2.21794 1.66719 1.99538 1.83128 1.83128C1.99538 1.66719 2.21794 1.575 2.45 1.575C2.68206 1.575 2.90462 1.66719 3.06872 1.83128C3.23281 1.99538 3.325 2.21794 3.325 2.45C3.325 2.56491 3.30237 2.67869 3.25839 2.78485C3.21442 2.89101 3.14997 2.98747 3.06872 3.06872C2.98747 3.14997 2.89101 3.21442 2.78485 3.25839C2.67869 3.30237 2.56491 3.325 2.45 3.325ZM2.45 0C1.80022 0 1.17705 0.258124 0.717588 0.717588C0.258124 1.17705 0 1.80022 0 2.45C0 4.2875 2.45 7 2.45 7C2.45 7 4.9 4.2875 4.9 2.45C4.9 1.80022 4.64188 1.17705 4.18241 0.717588C3.72295 0.258124 3.09978 0 2.45 0Z"
                                    fill="#350D73" fill-opacity="0.8" />
                            </svg></div>
                        <div class="SellerLocationLagos">Seller Location: Lagos, NG</div>
                    </div>
                </div>
            </div>

<!--List external section-->
            <div class="Lists" id="external" style="height: 100vh;">
                <div class="table-content body">
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th class="nameaff" style="text-align: left;">Products</th>
                                <th>Product Type</th>
                                <th>Price($)</th>
                                <th>Commission(%)</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.<span>Seller:
                                        Alphatech Multimedia Techonolgy</span>
                                </td>
                                <td>Digital</td>
                                <td><strong>$67</strong></td>
                                <td>50%</td>
                                <td> <button class="prombtn" onclick="digitalPopup('digital')">
                                        <span>Promote</span>
                                    </button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="nameaff nameaff34">Affiliate Marketing Accelerator Program<span>Seller:
                                        Alphatech Multimedia Techonolgy</span>
                                </td>
                                <td>Digital</td>
                                <td><strong>$33</strong></td>
                                <td>50%</td>
                                <td> <button class="prombtn" onclick="digitalPopup('digital')">
                                        <span>Promote</span>
                                    </button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="nameaff nameaff34">Beyond Graphic Design Course<span>Seller: Alphatech
                                        Multimedia Techonolgy</span>
                                </td>
                                <td>Digital</td>
                                <td><strong>$30</strong></td>
                                <td>50%</td>
                                <td> <button class="prombtn" onclick="digitalPopup('digital')">
                                        <span>Promote</span>
                                    </button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="nameaff nameaff34">Google Ads For Marketers Expo (GAME) Course<span>Seller:
                                        Alphatech Multimedia Techonolgy</span>
                                </td>
                                <td>Digital</td>
                                <td><strong>$40</strong></td>
                                <td>50%</td>
                                <td> <button class="prombtn" onclick="digitalPopup('digital')">
                                        <span>Promote</span>
                                    </button></td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>


         


</div>

<%-include("./partials/shopModals")%>
<%-include("./partials/resellModals")%>
<%-include("./partials/digitalModals")%>

        <%-include("../../partials/sidebar")%>
            <%-include("../../partials/footer")%>